/* import google font irish grover */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

/* start border-box fix */
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
/* end border box fix */
*{
    font-family: 'Irish Grover', cursive;
} 
body{
    background-image: url(images/_.jpeg);
    background-size: cover; /*covers entire screen*/
}

h1,h2,h3,h4,h5,h6,p,footer{
    color: rgb(255, 107, 188);
    text-transform:none;
    margin: 0;
    padding-bottom: 10px;
    line-height: 1.5;
}

/* adds padding to all of the wrapper child elements */
#wrapper>*{
    padding: 30px;
}

#wrapper{
    margin: 0px auto;
    /* centers the wrapper */

    background-color: blueviolet;

    color: white;

    max-width: 1200px;
    /* max-width: 100%; */

    display: flex;
    /* use flex box */

    flex-wrap: wrap;
    /* wrap flex items inside of the wrapper */
}

#firstparagraph{
    text-indent: 30px;
}

header{
    background-color: rgb(255,237,246);
    flex: 1 0 100%;
    /* grow on, shrink off, span width of browser */
    order: 1;
    /* display order regardless of html structure */
    border-bottom: 2px solid rgb(255, 107, 188);
    text-decoration: underline rgb(255, 107, 188);
}
main{
    background-color: rgb(255,237,246);
    flex: 1 1 500px;
    /* grow on, shrink on, able to grow and shrink beyong 500px */
    order: 3;
    /* display order regardless of html structure */
}
h2{
    text-decoration: underline rgb(255, 107, 188);
}
h3{
    font-size: 25px;
    text-decoration: underline rgb(255, 107, 188);
}
p{
    font-size: 20px;
}
hr{
    border: 1px rgb(255, 107, 188) solid;
}
a{
    text-decoration: none;
}
img {
    width: 300px;
    height: auto; 
}
nav{
    background-color: white;
    flex: 1 0 200px;
    /* grow on, shrink off, 200 minimum */
    order: 2;
    /* display order regardless of html structure */
    border-left: 2px solid rgb(255,237,246);
}

aside{
    background-color: white;
    flex: 1 0 200px;
    /* grow on, shrink off, 200 minimum */
    order: 4;
    /* display order regardless of html structure */
    border-right: 2px solid rgb(255,237,246);
}

aside a, nav a{
    color: rgb(184, 25, 112);
    font-size: 20px;
    padding-bottom: 5px;
    line-height: 1.5;
}

aside li a:hover, nav li a:hover{
    color: rgb(255, 107, 188)
}

footer{
    background-color: rgb(255,237,246);
    flex: 1 0 100%;
    /* grow on, shrink off, won't shrink under browser */
    order: 5;
    /* display order regardless of html structure */
    border-top: 2px solid rgb(255, 107, 188);
}
